{% extends "template.html" %}

{% block title %}Welcome{% endblock %}

{% block body %}
<br>
<h1 align="center">Hello, world!</h1>

<div align="center" class="introduction-content">
    <p>
            My name is Docas'. Welcome to my website where I document my journey on learning about cybersecurity.
    </p>
    <hr>
    <div>
        <a href="/about"><button type="button" class="btn btn-dark">About me</button></a>
        <a href="/archive"><button type="button" class="btn btn-dark">Archive</button></a>
    </div>
</div>

{% endblock %}